{% extends '::base.html.twig' %}
{% block title %}Editing: {{ person.name }}{{ person.surname }}{% endblock %}
{% block body %}
    <section class="container edit-person">
        {{ form(form) }}
    </section>
{% endblock %}